<div class="content">
  <h2 class="content-subhead">External Errors</h2>
  <div class="section-intro">
    External errors are errors that happen while Concierge is performing
    one of its operations (price checking, booking, cancellation, etc).
    The nature of such errors are <em>external</em> - meaning they happened
    due to factors outside of Concierge's control. Potential reasons:
    supplier was unavailable and could not process the request, infra-structure
    problems, among others.
  </div>

  <table class="concierge-table pure-table pure-table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Operation</th>
        <th>Supplier</th>
        <th>Error Code</th>
        <th>Error Description</th>
        <th>Timestamp</th>
      </tr>
    </thead>

    <tbody>
      <% external_errors.each do |error| %>
        <tr>
          <td><%= error_link(error) %></td>
          <td><%= error.operation %></td>
          <td><%= error.supplier %></td>
          <td><%= error.code %></td>
          <td><%= error.description %></td>
          <td><%= format_time(error) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="pagination">
    <%= prev_link(params.to_h) %>
    <%= next_link(params.to_h) %>
  </div>
</div>
