<div class="content">
  <h2 class="content-subhead">Error #<%= error.id %> - <code> <%= error.code %></code> during a <code><%= error.operation %></code> operation</h2>
  <h4 class="affected-supplier">Affected supplier: <%= error.supplier %>, on <%= error.happened_at.strftime("%B %d, %Y") %></h4>

  <% unless legacy? %>
    <div class="error-event">
      Follows the timeline for the error. At the time, Concierge was running version
      <code><%= concierge_version %></code>, and the request was handled by the
      <code><%= concierge_host %></code> server.
    </div>
  <% end %>

  <% events.each do |event| %>
    <%= render partial: partial_path(event), locals: { event: event } %>
  <% end %>
</div>
