<div class="content">
  <h2 class="content-subhead"><%= supplier.name %></h2>

  <p>
    <%= supplier.name %> has <em><%= hosts.count %></em> integrated hosts and currently
    provides <em><%= supplier_properties(supplier) %></em> properties to Roomorama.
  </p>

  <h3>Hosts</h3>
  <table class="concierge-table pure-table pure-table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Identifier</th>
        <th>Roomorama Username</th>
        <th>Access Token</th>
        <th># Properties</th>
      </tr>
    </thead>

    <tbody>
      <% hosts.each do |host| %>
        <tr>
          <td><%= host.id %></td>
          <td><code><%= host.identifier %></code></td>
          <td><%= host.username %></td>
          <td><code><%= format_access_token(host) %></code></td>
          <td><%= host_properties(host) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h3>Synchronisation</h3>
  <div class="section-intro">
    Synchronisation between suppliers and Roomorama happens through Concierge's
    <em>background workers</em>. Workers can be of two types:

    <ul>
      <li><strong>Metadata</strong>: Responsible for synchronising data such as:
        property titles and descriptions, list of images, amenities, etc.</li>
      <li><strong>Availabilities</strong>: Responsible for synchronising the availabilities
        calendar for properties belonging to a given host/supplier. This includes
        availability status, rates and check-in/check-out rules.</li>
    </ul>
  </div>

  Workers frequency for <%= supplier.name %> properties:

  <ul>
    <li><em>Metadata:</em> <%= metadata_frequency(supplier) %></li>
    <li><em>Availabilities:</em> <%= availabilities_frequency(supplier) %></li>
  </ul>

  <h3>Status</h3>

  Find below the status of each synchronisation process for <%= supplier.name %>'s hosts:

  <% hosts.each do |host| %>
    <h4><%= host.username %> (identifier <code><%= host.identifier %></code>)</h4>

    <table class="concierge-table pure-table">
      <thead>
        <tr>
          <th>Worker</th>
          <th>Status</th>
          <th>Scheduled to Run At</th>
        </tr>
      </thead>

      <tbody>
        <% workers_for(host).each do |worker| %>
          <tr>
            <td><%= worker.type %></td>
            <td><%= status_label(worker.status) %></td>
            <td><%= format_time(worker)%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
