<div class="content">
  <h2 class="content-subhead">Property attribute enforcements for <b><%=username%></b></h2>
  <p><%= link_to "Create New", routes.new_supplier_host_overwrite_path(supplier_id, host_id), class: "pure-button" %></p>
  <table class="concierge-table pure-table pure-table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Property identifier</th>
        <th>Attribute enforcements</th>
      </tr>
    </thead>
    <tbody>
      <% overwrites.each do |o| %>
        <tr id="overwrite-row-<%=o.id%>">
          <td><%= o.id %></td>
          <td><code><%= o.property_identifier %></code></td>
          <td><code><%= o.data.to_h.to_json %></code></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

