<table class="concierge-table pure-table">
  <thead>
    <tr>
      <th>Worker</th>
      <th>Status</th>
      <th>Scheduled to Run At</th>
      <th>Arguments</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% workers.each do |worker| %>
      <tr>
        <td><%= worker.type %></td>
        <td><%= status_label(worker.status) %></td>
        <td><%= format_time(worker)%></td>
        <td>
          <%= pretty_print_json(worker.next_run_args)%>
        </td>
        <td>
          <%=
            form_for :worker, routes.worker_resync_path do
              hidden_field :worker_id, value: worker.id
              submit 'Resync'
            end
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
