<div class="error-event">
  <%= render partial: "external_errors/events/timestamp", locals: { event: event } %>

  <h3>SOAP Response</h3>
  <p>
    As a response of the previous SOAP call, the server responded with status
    <code><%= event[:status] %></code> and the following response headers:
  </p>

  <div class="code-block">
    <% event[:headers].to_h.each do |header, value| %>
      <% name = header.split("-").map(&:capitalize).join("-") %>
      <p><strong><%= name %>:</strong> <%= value.strip %></p>
    <% end %>
  </div>

  <p>Response body:</p>

  <%
    content_type = "text/xml"
    css_class    = syntax_highlight_class(content_type)
  %>

  <%# breaks the indentiation here so that the code will be displayed properly,
      since the +pre+ tag does not ignore the white spaces %>
  <pre class="<%= css_class %> code-block">
<%= pretty_print(event[:body], content_type) %>
  </pre>
</div>
