<div class="error-event">
  <%= render partial: "external_errors/events/timestamp", locals: { event: event } %>

  <h3>OAuth2 Access Token Request</h3>

  <p>There was a request for an OAuth2 access token to <code><%= event[:site] %></code> using:</p>

  <table class="pure-table pure-table-horizontal">
    <tbody>
      <tr>
        <td>Client ID</td>
        <td><code><%= event[:client_id] %></code></td>
      </tr>
      <tr>
        <td>Client Secret</td>
        <td><code><%= event[:client_secret] %></code></td>
      </tr>
      <tr>
        <td>Strategy</td>
        <td><code><%= event[:strategy] %></code></td>
      </tr>
    </tbody>
  </table>

</div>
