<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <%= stylesheet "dashboard", "external_errors" %>

    <title>Concierge - Monitoring</title>
    <%= favicon %>
  </head>

  <body>
    <div id="layout">
      <div id="menu">
        <div class="pure-menu">
          <a class="pure-menu-heading" href="<%= routes.root_path %>">
            <%= image "roomorama-white-small.png" %>
            Concierge
          </a>

          <ul class="pure-menu-list">
            <li class="pure-menu-item"><%= link_to "Reservations", routes.reservations_path, class: "pure-menu-link" %></li>
            <li class="pure-menu-item"><%= link_to "External Errors", routes.errors_path, class: "pure-menu-link" %></li>
          </ul>
        </div>
      </div>

      <div id="main">
        <div class="header">
          <h1>
            <%= image "concierge-logo.png" %>
            Concierge: Supplier Integrations
          </h1>
        </div>

        <%= yield %>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/github.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>

    <%= javascript "syntax_highlight" %>
  </body>
</html>
